* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./public/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* I have a proposal for you to implement root styles for colors as practical */

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 90%;
    max-width: 700px;
}

.title,
.quotes {
    border-radius: 10px;
}

.title {
    font-family: "Montez";
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    padding: 5px 10px;
    transition: all 0.6s ease-in-out;
}

.title:hover {
    color: black;
    background-color: rgba(250, 250, 250, 0.8);
    scale: 115%;
}

.quotes {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 10px 15px -3px, rgba(0, 0, 0, 0.2) 0px 4px 6px -5px;
    width: 100%;
    padding: 20px;
    cursor: pointer;
    height: 200px;
    transition: box-shadow 0.3s ease-in;
}

.quotes__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}

.quotes:hover {
    box-shadow: rgba(250, 250, 250, 0.3) 0px 10px 15px -3px, rgba(250, 250, 250, 0.4) 0px 4px 6px -5px;
}

.quotes__content {
    color: black;
    font-family: "Montez";
    font-size: 30px;
    display: flex;
    align-self: flex-start;
}

.quotes__author {
    color: rgb(226, 151, 78);
    font-size: 26px;
    font-family: inherit;
    display: flex;
    align-self: flex-end;
}

.generate-button {
    background-color: black;
    border: 0;
    outline: 0;
    font-size: 20px;
    color: white;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    transition-duration: 0.6s;
    transition-property: background-color;
}

.generate-button:hover {
    background-color: rgba(156, 151, 151, 0.329);
}

.loading-quotes {
    display: none;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.loading-quotes__div::after {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-top-color: gray;
    border-radius: 100%;
    animation: loading-spinner 1s ease-in-out infinite;
    opacity: 0.6;
}

@keyframes loading-spinner {
    from {
        rotate: 0deg;
    }

    to {
        rotate: 360deg;
    }
}

@media (max-width: 580px) {
    .title {
        padding: 3px 7px;
        font-size: 28px;
    }

    .quotes {
        height: 150px;
    }

    .quotes__content {
        font-size: 22px;
    }

    .quotes__author {
        font-size: 18px;
    }
}

@media (max-width: 450px) {
    .title {
        font-size: 25px;
    }

    .quotes__content {
        font-size: 18px;
    }

    .quotes__author {
        font-size: 16px;
    }
}